
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header CSS STARTS*/
.header-container{
    position: fixed;
    width: 100%;
    z-index: 110;
    top: 0;
    left: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #013573;
    height: 97px;
    padding: 5px;
    transition: all .3s linear 0s;
}

.search-btn{
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    line-height: 33px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
/* CSS for the search box */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80px; /* Adjust based on the height of your header */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
}

.search-box input {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-box button {
   
    background-color: #00cd92;
    transition: .5s;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 48px;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.close-btn {
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 10px;
}
/* Header CSS ENDS*/
/* Filter and Sort buttons CSS STARTS*/
.filter-sort-btns{
    display: block;
    margin-top: 150px;
}
.filter-btns{
   display: flex;
   justify-content: flex-start;
   align-items: center;

   .filters{
    margin-bottom: 5px;
    position: relative;
    
    button{
        margin: 0 10px 0 0;
        padding: 10px 25px;
        font-size: .75rem;
        color: #103076;
        line-height: 20px;
        border: none;
        background-color: #fff;
        border-radius: 10px;
        transition: all .3s ease;
        box-shadow: 0 4px 3px rgba(0, 0, 0, .15), 0 0 3px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .5);
    }
    
   }
}
.filters button:hover{
    background-color: #103076;
    color: #fff;
}

.sort{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
}
.sort-title {
    color: #013573;
    font-size: 1rem;
    font-weight: 700;
    padding-right: 10px;
    overflow: hidden;
}

.sort-dropdown {
    display: inline-block;
    width: 195px;
    position: relative;
    z-index: 200;
}
.sort-dropdown .default-option {
    border: 2px solid #013573;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    list-style: none;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
}
.sort-dropdown .default-option li{
    padding: 0 10px;
}
.sort-dropdown .option {
    display: flex;
    align-items: center;
}
.sort-dropdown .default-option:before {
    content: " ";
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 18px;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-color: transparent transparent #555 #555;
    transform: rotate(-45deg);  
}

/* Arrow  when dropdown is active */
.sort-dropdown.active .default-option:before {
    transform: rotate(315deg);
    border-color: #555 #555 transparent transparent;
}

.sort-dropdown .option p {
    color: #103076;
    font-size: .875rem;
}
.sort-dropdown .default-option .option p {
    margin: 10px 0;
}
.sort-dropdown .select-ul {
    border: none;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
    display: none;
    z-index: 900;
    padding: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .15), 0 0 3px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .5);
}
.sort-dropdown .select-ul li{
    cursor: pointer;
    padding: 8px;   
}
.sort-dropdown .select-ul li .option p {
    color: #393b44 !important;
    margin: 0;
}


/**/
.filter-btns .filters .filter-close-btn {
    position: absolute;
    background-color: #93a0a0;
    cursor: pointer;
}
.filter-btns .filters span {
    right: 4px;
    top: -8px;
    color: #fff;
    background-color: #00cd92;
    padding: 0;
    border-radius: 15px;
    font-size: 11px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
}
.filter-btns .filters .filter-close-btn svg {
    height: 8px;
    width: 8px;  
}

/* Filter Modals CSS */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(16, 48, 115, .7);
}
.modal-container {
    display: block;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    z-index: 12;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
}
.modal-header {
    color: #000;
}
.filter-modal-popup .modal-body {
    height: 500px;
    overflow-y: scroll;
}
.filter-pop-up-container {
    border-radius: 10px;
    padding: 0 30px;
    color: #0b1833;
}

.filter-pop-up-container .modal-close-btn {
    position: absolute;
    right: -5px;
    top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
}
.modal-title {
    width: 100%;
    font-size: 20px;
    font-weight: 600; 
    text-align: center;
    position: relative;
    line-height: 36px;  
    color: #0b1833;
}
.modal-subtitle{
    font-size: 16px;
    font-weight: bold;
}
.popup-check-box {
    padding: 10px 0;
    border-bottom: 1px solid #dfeaf0;
}
.popup-check-box .row {
    padding: 6px 0;
}
.icon-left {
    width: 24px;
    position: absolute;
    height: 100%;
    left: 8px;
    top: 0;
}
.icon-left .pet-marker, 
.icon-left .i {
    width: 24px;
    height: 24px;
    margin: 10px 0;
}
.icon-left .fa-leaf:before {
    color: rgb(117, 184, 117);
}
.checkbox-wrapper {
    padding: 0 0 0 30px;
}
.popup-check-box-label-title {
    font-size: 14px;
    padding: 0;
}
.popup-check-box-label-title a {
    color: #00cd92;
    text-decoration: none;
}
.popup-check-box-label-sub-title {
    font-style: italic;
    font-size: 12px;
}

.popup-check-box .popup-single-check-box {
    float: right;
}
.popup-single-check-box input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.popup-single-check-box {
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 4px;
    font-size: 1.375rem;
    position: relative;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #fff;
    border: 2px solid #c9d2d985;
    border-radius: 5px;
}
.select-check-in-out {
    padding: 10px 0;
    border-bottom: 1px solid #dfeaf0;
}
.select-check-in-out .check-in-out-all {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
}
.check-in-out-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-check-in-out {
    position: relative;
    border: 1px solid #d1d1d1;
    padding: 8px 14px;
    border-radius: 10px;
    margin: 5px 2px;
    width: 48%;
    height: 56px;
    cursor: pointer;
}
.single-check-in-out span {
    position: absolute;
    top: 4px;
    color: #9b9b9b;
    font-size: 14px;
}
.single-check-in-out input {
    background-color: initial;
    position: absolute;
    width: 70%;
    top: 28px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 0;
    color: #030303;
}
.single-check-in-out i {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    top: 18px;
}
.guest-filter {
    padding: 10px 0;
    border-bottom: 1px solid #dfeaf0;
}

.guest-filter-container {
    display: flex;
    align-items: center;
}

.popup-check-box-label-title {
    padding: 0 0 5px;
    width: 250px;
}
.guestPopup .top .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.guest-button {
    background-color: #00cd92;
    transition: .5s;
    border-radius: 4px;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 5px; /* Add horizontal margin for spacing */
}

.guest-button i {
    color: #fff;
    font-size: 1.2em;
}

.guest {
    font-size: 1.2em;
    width: 55px;
    text-align: center;
    line-height: 30px; /* Adjust to match button height */
}
/* Filter and Sort buttons CSS ENDS*/
/* Shimmer Effect */
.line {
    width: 100%;
    height: 20px;
    background: #bbb;
    margin: 20px 0;
    border-radius: 5px;
}
.view-line {
    width: 90%;
    height: 36px;
    border-radius: 5px;
    background: #bbb;
}
.shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(100deg,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%);
    animation: shimmer 2s infinite linear;
}
@keyframes shimmer {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(200%);
    }
}

/* Property Tiles CSS*/
.property-tiles-container{
    margin-top: 150px;
}
.property-tiles{
    background-color: #fff;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0,0,0,5%);
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 9px rgba(0,0,0,8%);
}

.property-tiles .tiles-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 8px;

    .fav-icon{
        z-index: 100;
        border-radius: 50%;
        background-color: rgba(183, 186, 197, 0.4);
        border: 1px solid rgba(222, 222, 222, .4);
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 36px;
        margin: 0 5px;
    }
}

.property-tiles .tiles-img{
    height: 1px;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    background-color: #e7e6e6;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    
}
.property-tiles .tiles-img img {
    width: 100%;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    object-fit: cover;
}

.property-tiles .listing-price{
    bottom: 8px;
    font-weight: 600;
    line-height: 14px;
    height: 30px;
    left: 8px;
    min-width: 43px;
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 4px;
    text-shadow: none;
    font-size: 14px;
    cursor: default;
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    z-index: 100;
}

.property-tiles .tiles-details {
    padding: 5px 15px 0;
  
}

.property-tiles .info {
    display: flex;
    align-items: center;
    padding-top: 0;
    height: 25px
}

.property-tiles .rating{
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    gap: 0;
    position: relative;
    top: -1px;
    color: #ffc107;
}

.property-tiles .divider{
    font-size: 1rem;
    position: relative;
    color: #757575;
}

.property-tiles .rating-review {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 5px;

    .reviews {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    i{
        color: #013573;
    }

    .rating-num{
        position: relative;
        font-size: 14px;
        color: #003970;
        font-weight: 700;
    }
    .review-num{
        color: #5f5f5f;
        font-weight: 700;
        font-size: 11px;
    }
}

.property-tiles .property-type {
    padding-left: 10px;
    font-size: .6875rem;
    color: #414141;
}

.property-tiles .title a {
    color: #393b44;
    display: flex;
    font-size: .8125rem;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -.02em;
    text-decoration: none;
   
}
.property-tiles .tiles-details ul {
    margin: 0;
    padding: 0
}

.property-tiles .tiles-details ul li {
    list-style: none;
    padding: 0;
    display: inline;
    font-size: .6875rem
}

.property-tiles .tiles-details .info ul li,
.property-tiles .tiles-details .info ul li a {
    color: #103076
}
.property-tiles .amenities {
    padding: 0;
    height: 21px;
    margin: 0
}

.property-tiles .amenities ul {
    padding: 0
}

.property-tiles .amenities ul li {
    padding: 0;
    display: inline;
    font-size: .6875rem
}
.property-tiles .amenities ul li::after {
    content: "•";
    width: 15px;
    display: inline-block;
    text-align: center;
}
.property-tiles .amenities ul li:last-child::after {
    content: "";
}

.tiles-btn{
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -.5rem;
    cursor: pointer;
}

.view{
    background-color: #00cd92;
    border-radius: 5px;
    padding: 0 5px;
    height: 36px;
    line-height: 34px;
    text-align: center;

    a{
        text-decoration: none;
        font-size: .75rem;
        color: #fff;
        font-weight: 700;
        padding: 0 2px;
        
    }
}

@media  (max-width: 375px) {
    .search-box input {
        width: 200px;
    }
}